@import "../../styles/variables.scss";

.footer {
    background-color: $--primary-0-color;
    padding: 80px 82px 60px 82px;
    &__main {
        display: flex;
        &_logo {
            display: flex;
            flex-direction: column;
            width: 292px;
            row-gap: 16px;
            & a {
                width: fit-content;
                text-decoration: none;
                & h1 {
                    color: $--primary-color;

                    /* Bold/Type@32 */
                    font-family: $--primary-font-family;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%; /* 48px */
                    letter-spacing: -0.96px;
                    text-transform: uppercase;
                    margin: 0;
                }
            }
            & h2 {
                color: $--secondary-1-color;

                /* Medium/Type@16 */
                font-family: $--primary-font-family;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 24px */
                letter-spacing: -0.32px;
                margin: 0;
            }
        }
        &_box {
            margin-left: 60px;
            &.container {
                margin-left: auto;
                display: flex;
                width: fit-content;
                height: fit-content;
            }
            width: 152px;
            height: fit-content;
            & h1 {
                color: $--secondary-color;

                /* Semibold/Type@20 */
                font-family: $--primary-font-family;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 30px */
                letter-spacing: -0.4px;
                margin: 0;
                margin-bottom: 24px;
            }
            & ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;
                row-gap: 20px;
                & li {
                    & a {
                        text-decoration: none;
                        color: $--secondary-1-color;

                        /* Medium/Type@16 */
                        font-family: $--primary-font-family;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 24px */
                        letter-spacing: -0.32px;
                    }
                }
            }
        }
        & .about {
            margin-left: auto;
        }
        & .community,.socials {
            margin-left: 60px;
        }
    }
    &__line {
        width: 100%;
        height: 1px;
        background: rgba(19, 19, 19, 0.16);     
        margin: 36px 0px;
    }
    &__sub {
        display: flex;
        & h2 {
            color: $--secondary-color;

            /* Semibold/Type@16 */
            font-family: $--primary-font-family;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 24px */
            letter-spacing: -0.32px;
            margin: 0;
        }
        & a {
            text-decoration: none;
            & h2 {
                color: $--secondary-color;
                text-align: right;
                
                /* Semibold/Type@16 */
                font-family: $--primary-font-family;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 24px */
                letter-spacing: -0.32px;
            }
        }
        & :nth-child(2){
            margin-left: auto;
        }
        & :nth-child(3){
            margin-left: 60px;
        }
    }
}

@media (max-width: 2301px) {
    .footer {
        padding: 80px 82px 60px 82px;
        &__main {
            &_logo {
                width: 292px;
                row-gap: 16px;
                & a {
                    & h1 {
                        font-size: 36px;
                    }
                }
                & h2 {
                    font-size: 20px;
                }
            }
            &_box {
                margin-left: 120px;
                width: fit-content;
                height: fit-content;
                & h1 {
                    font-size: 24px;
                    margin-bottom: 24px;
                }
                & ul {
                    row-gap: 20px;
                    & li {
                        & a {
                            font-size: 16px;
                        }
                    }
                }
            }
            & .about {
                margin-left: auto;
            }
            & .community,.socials {
                margin-left: 60px;
            }
        }
        &__line {
            margin: 36px 0px;
        }
        &__sub {
            display: flex;
            & h2 {
                font-size: 20px;
            }
            & a {
                & h2 {
                    font-size: 20px;
                }
            }
            & :nth-child(2){
                margin-left: auto;
            }
            & :nth-child(3){
                margin-left: 60px;
            }
        }
    }  
}

@media (max-width: 1601px) {
    .footer {
        padding: 80px 82px 60px 82px;
        &__main {
            &_logo {
                width: 292px;
                row-gap: 16px;
                & a {
                    & h1 {
                        font-size: 32px;
                    }
                }
                & h2 {
                    font-size: 16px;
                }
            }
            &_box {
                margin-left: 60px;
                width: 152px;
                height: fit-content;
                & h1 {
                    font-size: 20px;
                    margin-bottom: 24px;
                }
                & ul {
                    row-gap: 20px;
                    & li {
                        & a {
                            font-size: 16px;
                        }
                    }
                }
            }
            & .about {
                margin-left: auto;
            }
            & .community,.socials {
                margin-left: 60px;
            }
        }
        &__line {
            margin: 36px 0px;
        }
        &__sub {
            display: flex;
            & h2 {
                font-size: 16px;
            }
            & a {
                & h2 {
                    font-size: 16px;
                }
            }
            & :nth-child(2){
                margin-left: auto;
            }
            & :nth-child(3){
                margin-left: 60px;
            }
        }
    }  
}

@media (max-width: 1001px) {
    .footer {
        padding: 80px 82px 60px 82px;
        &__main {
            &_logo {
                width: 222px;
                row-gap: 16px;
                & a {
                    & h1 {
                        font-size: 28px;
                    }
                }
                & h2 {
                    font-size: 12px;
                }
            }
            &_box {
                margin-left: 60px;
                width: fit-content;
                height: fit-content;
                & h1 {
                    font-size: 16px;
                    margin-bottom: 24px;
                }
                & ul {
                    row-gap: 16px;
                    & li {
                        & a {
                            font-size: 12px;
                        }
                    }
                }
            }
            & .about {
                margin-left: auto;
            }
            & .community,.socials {
                margin-left: 60px;
            }
        }
        &__line {
            margin: 36px 0px;
        }
        &__sub {
            display: flex;
            & h2 {
                font-size: 12px;
            }
            & a {
                & h2 {
                    font-size: 12px;
                }
            }
            & :nth-child(2){
                margin-left: auto;
            }
            & :nth-child(3){
                margin-left: 60px;
            }
        }
    }  
}

@media (max-width: 801px) {
    .footer {
        padding: 80px 82px 60px 82px;
        &__main {
            &_logo {
                width: 222px;
                row-gap: 16px;
                & a {
                    & h1 {
                        font-size: 24px;
                    }
                }
                & h2 {
                    font-size: 12px;
                }
            }
            &_box {
                margin-left: 40px;
                width: fit-content;
                height: fit-content;
                & h1 {
                    font-size: 16px;
                    margin-bottom: 24px;
                }
                & ul {
                    row-gap: 16px;
                    & li {
                        & a {
                            font-size: 12px;
                        }
                    }
                }
            }
            & .about {
                margin-left: auto;
            }
            & .community,.socials {
                margin-left: 60px;
            }
        }
        &__line {
            margin: 36px 0px;
        }
        &__sub {
            display: flex;
            & h2 {
                font-size: 12px;
            }
            & a {
                & h2 {
                    font-size: 12px;
                }
            }
            & :nth-child(2){
                margin-left: auto;
            }
            & :nth-child(3){
                margin-left: 60px;
            }
        }
    }  
}

@media (max-width: 391px) {
    .footer {
        background-color: #F6F7F9;
        padding: 0px 24px 24px 24px;
        &__main {
            display: flex;
            flex-direction: column;
            margin-bottom: 48px;
            &_logo {
                display: flex;
                flex-direction: column;
                width: 216px;
                row-gap: 16px;
                margin-bottom: 48px;
                & a {
                    width: fit-content;
                    text-decoration: none;
                    & h1 {
                        color: $--primary-color;

                        /* Bold/Type@32 */
                        font-family: $--primary-font-family;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 48px */
                        letter-spacing: -0.96px;
                        text-transform: uppercase;
                        margin: 0;
                    }
                }
                & h2 {
                    color: $--secondary-1-color;

                    /* Medium/Type@16 */
                    font-family: $--primary-font-family;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 24px */
                    letter-spacing: -0.32px;
                    margin: 0;
                }
            }
            &_box {
                margin-left: 0px;
                &.container {
                    margin-left: 0px;
                    display: grid;
                    column-gap: 65px;
                    row-gap: 48px;
                    grid-template-columns: repeat(2,1fr);
                    width: fit-content;
                    height: fit-content;
                }
                width: 142px;
                height: fit-content;
                & h1 {
                    color: $--secondary-color;

                    /* Semibold/Type@20 */
                    font-family: $--primary-font-family;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 30px */
                    letter-spacing: -0.4px;
                    margin: 0;
                    margin-bottom: 24px;
                }
                & ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    row-gap: 20px;
                    & li {
                        & a {
                            text-decoration: none;
                            color: $--secondary-1-color;

                            /* Medium/Type@16 */
                            font-family: $--primary-font-family;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%; /* 24px */
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }
        &__line {
            display: none;
        }
        &__sub {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;
            & h2 {
                width: 100px;
                color: $--secondary-color;

                /* Semibold/Type@16 */
                font-family: $--primary-font-family;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 24px */
                letter-spacing: -0.32px;
                margin: 0;
            }
            & a {
                text-decoration: none;
                & h2 {
                    width: 100%;
                    color: $--secondary-color;
                    text-align: right;
                    
                    /* Semibold/Type@16 */
                    font-family: $--primary-font-family;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 24px */
                    letter-spacing: -0.32px;
                }
            }
            & :nth-child(3) {
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
}
